/*CSS de la pagina Topa Rápida*/
*{
    border:o;
    margin:0;
    padding:0;
}

body 
{
    background:url(../img/fondo.jpg);
    width: 100 %;
    height: 100 %;
    top:0;
    left:0;
    z-index: -1;   
    
}

#contenedor
{
  box-shadow: 5px 5px 10px green;
  margin-top:10px;
  border: solid green;
  border-radius: 8px;
height: 1000px;
width: 780px;
margin-right: auto;
margin-left:auto;    
margin-top
}

header,#banner,#noticias,#tienda,#marcas
{
    width:780px;
    height:100px;

 
}

header
{
    background: url(../img/header.png);
    width:750px;
    height:100px;
    padding: 8px 15px; 
    
}
header h1 
{
    
    
    width:240px;
    height:100px;
    display: inline-block;
    vertical-align: middle;
    float: left;
    
}

header #menu
{

    width:440px;
    height:100px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
#banner
{

    height:300px;
   
    
}

#noticias
{
    background: url(../img/header.png);
    height:225px;
    width:760px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align:center;
}

#tienda
{
    width:760px;
    background: url(../img/header.png);
    height:190px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align:center;
    
}

#marcas
{
    background:url(../img/patrocinadores1.jpg);
    background-size: 600px, 50px;
    height:100px;
    
    
}
footer
{
    background: #9FF781;
    width: 780px;
    height: 45px;
    padding-top:15px;
    
    
}

footer p
{
    font-family:verdana;
    font-size:10px;
    text-align:center;
    
}
#noticias #noticia1
{
    width:250px;
    height: 215px;
    display:inline-block;
    vertical-align: top;
    
}

#noticias #noticia2
{  
    width:250px;
    height: 215px;
    display:inline-block;
     vertical-align: top;
    
    
}

#noticias #noticia3
{
    background:black;
    font-family:fantasy;
    color:White;
    width:250px;
    height: 215px;
    display:inline-block;
    vertical-align: top;
}
.espacio
{
    width:760px;
    height:10px;
}

#tienda #camiseta
{
    background:url(../img/camiseta.jpg);
    width: 180px;
    height: 180px;
    display:inline-block;
    vertical-align: top;
    margin: 0px 2px;
    

    
}
#tienda #sudadera
{
    background:url(../img/sudadera.jpg);
    width: 180px;
    height: 180px;
    display:inline-block;
    vertical-align: top;
        margin: 0px 2px;

    
}
#tienda #server
{
    background:url(../img/server.jpg);
    width: 180px;
    height: 180px;
    display:inline-block;
    vertical-align: top;
        margin: 0px 2px;

    
}
#tienda #cdkey
{
    background:url(../img/cdkey.png);
    width: 180px;
    height: 180px;
    display:inline-block;
    vertical-align: top;
    margin: 0px 2px;

    
}

/*Menu*/

#main-container

{
	width:500px;
    height:310px;
	margin:0 ;
	text-align:center;
    
}

.cuadrado
{
	width:440px;
	height:150px;
	background-color:#FFFF;
	margin: 2px;
	color:steelblue;
	line-height:105px;
}

.cuadrado:hover
{
	
	    width:440px;
	    box-shadow:0px 0px 6px #000;
        color:steelblue;
        background-color:gray;
        opacity:0.9; /* Opacidad 90% */
   
   
   
       
}

#transition
{
  -webkit-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  
  
  
  
  -moz-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -o-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -ms-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
}


#transition2
{
  -webkit-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  
  
  
  
  -moz-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -o-transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  -ms-transition:background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
  transition: background-color 2s ease-out, width 1s ease, box-shadow 1s linear;
}
ul.menu 
{
  background: black;
  border: 1px solid navy;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul.menu:hover {
  background: black;
  border: 1px solid navy;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
ul.menu li {
  float: left;
  width: 16%;
}
ul.menu li a 
{
  display: inline-block;
  padding-top: .5ex;
  padding-bottom: .5ex;
  text-decoration: ultra-condensed;
  color:green;
  font-size:12pt;

}
ul.menu li a:hover 
{
  color:red;
}
li.comunity:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
li.wiki:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
li.tube:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
li.steam:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
li.face:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
li.twitter:hover
{
    
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  border-left: 2px solid green;
  display: inline-block;
  text-decoration: ultra-condensed;
  color:red;
  font-size:13pt;
  font-weight:bold;
  background-color:gray;

}
